* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  height: 100%;
}

body {
  height: 100%;

  #wrapper {
    min-height: 100%;
    margin-bottom: -90px;

    &:after {
      content: "";
      display: block;
      height: 90px;
    }
  }

  input {
    border-radius: 0px !important;
  }

  .description {
    font-style: italic;
    color: #666;
    font-size: 1em;
    ul {
      padding: 10px;
    }
    li {
      margin-left: 10px;
    }
  }

  .navbar {
    height: 50px;
    ul.navbar-top-links {
      height: 100%;
      li.dropdown {
        display: inline-block;
        height: 100%;
        a.navlink {
          height: 100%;
          padding: 15px;
        }

        .dropdown-user {
          min-width: 250px;
          li {
            width: 100%;
            a {
              line-height: 35px;
            }
          }
        }
      }
    }
  }

  .huge {
    font-size: 3em;
    line-height: 1.2em;
  }
  .huge-label {
    font-size: 1.3em;
    line-height: 1em;
  }

  .panel-green {
    border-color: #0C0;
    .panel-heading {
      color: white;
      background-color: #8dc95f;
    }
  }

  .panel-yellow {
    border-color: #F60;
    .panel-heading {
      color: white;
      background-color: #E5AD1A;
    }
  }

  .panel-blue {
    border-color: #9ad2ff;
    .panel-heading {
      color: white;
      background-color: #83ccf7;
    }
  }

  .footer {
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #f5f5f5;
    padding: 20px;

    .logo {
      height: 40px;
    }

  }

  .btn {
    border-radius: 0px !important;
  }

  #motm {
    .notation {
      display: flex;

      label {
        flex: 1 1 0px;
        text-align: center;
        font-size: 2em;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
      }

      label > input{
        visibility: hidden;
        position: absolute;
      }
      label > input + img{
        cursor:pointer;
        filter: gray; /* IE6-9 */
        filter: grayscale(0.9); /* Microsoft Edge and Firefox 35+ */
        -webkit-filter: grayscale(0.9); /* Google Chrome, Safari 6+ & Opera 15+ */
        width: 60%;
      }
      label > input:checked + img, label > input + img:hover{
        filter: none;
        -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
      }
    }
  }

  .title-motm {
    h1 {
      margin-bottom: 0px;
    }
    .chapo {
      font-size: 1.3em;
      color: #555;
    }
  }

  #statistics {
    .dropdown {
      margin-bottom: 10px;
      li {
        min-width: 200px;
        a {
          padding: 8px;
          width: 100%;
          height: 100%;
          display: block;
          &:hover {
            background: rgba(0,0,0,.1);
          }
        }
      }
    }

    #dashboard {
      height: auto !important;
    }

  }

  #stats {
    .note {
      text-align: right;
      font-size: 4em;
      font-weight: 300;
      line-height: 30px;
      font-family: 'Open Sans', sans-serif;
      p {
        font-size: 0.3em;
        margin: 0;
        padding: 0;
      }
      small {
        color: #999;
        font-size: 0.7em;
      }
    }

    .details {
      width: 100%;
      .mood {
        display: flex;
        .img-container {
          flex: 1 1 0px;
          img {
            width: 100%;
          }
        }
        .progress-bar-container {
          flex: 8 1 0px;
          align-self: center;
          padding: 0 10px;

          .desc {
            font-size: 0.8em;
            color: #999999;
          }

          .progress {
            background-color: rgba(255,255,255, .05) !important;
          }
          .progress-bar-midsuccess {
            background-color: #8cd116 !important;
          }

          .progress-bar-neutral {
            background-color: #e5d716 !important;
          }

          .progress-bar-success {
            background-color: #3fcf19 !important;
          }

        }
      }
    }

  }

  #dashboard {
    height: 100vh;
    width: 100%;
    background: #2e6da4;
    padding: 30px;
    position: relative;
    font-family: 'Maven Pro', 'Open Sans', Arial;
    display: flex;

    .half {
      flex: 1 1 0px;
    }

    .half-2 {
      flex: 1 1 0px;
      display: flex;
      flex-direction: column;
    }

    .month {
      margin-left: 3%;
      margin-top: 8%;
      color: #ffffff;
      margin-bottom: 10%;
      p {
        margin: 0;
        padding: 0;
        &.subtitle {
          font-size: 2em;
          color: #5ED6FE;
          margin-left: 5px;
          font-weight: 300;
          font-family: 'Open Sans', sans-serif;
        }
        &.title {
          font-size: 6em;
          line-height: 0.8em;
        }
      }
    }

    .details {
      padding: 10px;
      width: 95%;
      .mood {
        display: flex;
        .img-container {
          flex: 1 1 0px;
          img {
            width: 100%;
          }
        }
        .progress-bar-container {
          flex: 8 1 0px;
          align-self: center;
          padding: 0 10px;

          .desc {
            font-size: 1.3em;
            color: #FFFFFF;
          }

          .progress {
            background-color: rgba(255,255,255, .05) !important;
          }
          .progress-bar-midsuccess {
            background-color: #8cd116 !important;
          }

          .progress-bar-neutral {
            background-color: #e5d716 !important;
          }

          .progress-bar-success {
            background-color: #3fcf19 !important;
          }

        }
      }
    }

    .global {
      color: #FFFFFF;
      flex: 1 1 0px;
      .global-mood {
        font-family: 'Open Sans', sans-serif;
        display: flex;
        .mood {
          max-width: 200px;
          flex: 1 1 0px;
        }
        .notation {
          flex: 1 1 0px;
          align-self: center;
          .title {
            text-transform: uppercase;
            font-size: 2.3em;
            padding: 0;
            color: #5ED6FE;
            font-weight: 300;
          }
          .note {
            font-size: 6em;
            line-height: 0.5em;
          }
          .note-on {
            font-size: 3em;
          }
        }
      }
    }
    .comments {
      color: white;
      font-family: 'Open Sans', sans-serif;
      flex: 3 1 0px;

      .title {
        font-weight: 300;
      }

      .comment-container {
        width: 100%;
        background: rgba(0,0,150,.2);
        min-height: 60px;
        font-size: 1.2em;
        text-align: justify;
        padding: 8px 8px 8px 0;
        font-weight: 300;
        display: flex;
        margin-bottom: 10px;

        .note {
          padding-left: 8px;
          width: 60px;
          display: flex;
          .mood {
            max-width: 60px;
            flex: 1 1 0px;
            align-self: center;
          }
          .notation {
            text-align: center;
            font-size: 1.4em;
          }
        }

        .comment {
          padding: 8px;
          flex: 1 1 0px;
          width: calc(100% - 60px);
        }

      }

    }

  }

}
